body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
.nav-link{
    color:#f498b8; ;
}
.nav-link:hover{
    color: #EA1C2C;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
footer{
    display: block;
}
footer .mb-5{
    margin-bottom: 3rem !important;
}
#container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* .mx-0 {
    margin-left: 0 !important;
}
.mr-0, .mx-0 {
    margin-right: 0 !important;
}
.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
} */



/* position: 
bottom: 4rem; */
/* width: 99%; width: 170px; */
/* display: flex;
text-align: center;
justify-content: space-between; */
/* padding: 2.3rem; */
/* left: 47%; */
/* font-size: 50%; */